.cta {
    justify-content: center;
    padding: 5rem 0;
    background-color: white;
  }
  
  .cta .ctaContainer {
    width: var(--myWidth);
    gap: 8rem;
  }
  
  .cta .ctaContainer .ctaLeft {
    width: 50%;
    justify-content: center;
    gap: 2rem;
  }
  
  .ctaBox {
    flex-direction: column;
    gap: 2rem;
  }
  
  .ctaBox .ctaBoxChild {
    text-align: center;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .ctaBox .ctaBoxChild h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0 1rem 0;
  }
  
  .ctaBox .ctaBoxChild p {
    font-weight: 300;
  }
  
  .cta .ctaContainer .ctaRight {
    width: 35%;
  }
  
  .cta .ctaContainer .ctaRight h2 {
    font-size: var(--fontSizeH2);
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
  
  .cta .ctaContainer .ctaRight p {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
    font-weight: 300;
    text-align: justify;
  }
  
  .cta .ctaContainer .ctaRight small {
    font-size: 1.1rem;
    font-weight: 300;
  }
  
  .cta .ctaContainer .ctaRight a {
    display: inline-block;
    margin: 1.5rem 0 0 0;
    font-size: 1rem;
    padding: 1rem 2rem;
    background: var(--myBtnColor);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.3rem;
  }
  @media (max-width: 400px) {
    .cta .ctaContainer {
      flex-direction: column;
      gap: 4rem;
    }
    .cta .ctaContainer .ctaLeft {
      flex-direction: column;
      width: 100%;
    }
    .ctaBox .ctaBoxChild {
      width: 100%;
    }
    .cta .ctaContainer .ctaRight {
      width: 100%;
    }
    .cta .ctaContainer .ctaRight p {
      font-size: 1rem;
    }
  }