@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --myWidth: 80%;
  --myBtnColor: green;
  --fontSizeH2: 2rem;
}

/* global classes */
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  height: 5rem;
  justify-content: center;
  background-color: #fbf3cc;
}

header nav {
  justify-content: space-between;
  width: var(--myWidth);
}

header nav .logo {
  justify-content: flex-start;
}

header nav .logo img {
  width: 25%;
  height: auto;
}

header nav .menu ul {
  list-style: none;
  gap: 2rem;
  font-weight: 500;
}

header nav .menu ul li a {
  text-decoration: none;
  color: #000;
}

.hero {
  height: 60vh;
  justify-content: center;
  background-color: #fbf3cc;
  background-image: url(./assets/restaurants/heroImage.svg);
}

.hero .heroContainer {
  width: var(--myWidth);
}

.hero .heroContainer h1 {
  font-size: 3rem;
  font-weight: 600;
}

.hero .heroContainer h2 {
  font-size: var(--fontSizeH2);
  font-weight: 300;
  margin: 0 0 1rem 0;
}

.hero .heroContainer .heroSearch {
  background-color: #fff;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0 0 0.5rem 0;
}

.hero .heroContainer .heroSearch input {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 40rem;
  padding: 0.5rem;
}

.hero .heroContainer .heroSearch button {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background: var(--myBtnColor);
  padding: 1rem 2rem;
  border: none;
  color: white;
}

.hero .heroContainer p {
  font-weight: 500;
}

.hero .heroContainer p span a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.categories {
  height: 60vh;
  justify-content: center;
}

.catContainer {
  width: var(--myWidth);
}

.categories .catContainer h2 {
  text-align: center;
  font-size: var(--fontSizeH2);
  font-weight: 500;
}

.categories .catContainer .catDesc {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

.categories .catContainer .catBoxes {
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.categories .catContainer .catBoxes .catBox {
  width: calc(100% / 6);
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
}

.categories .catContainer .catBoxes .catBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  border-radius: 0.3rem;
  z-index: 0;
}

.categories .catContainer .catBoxes .catBox img {
  width: 100%;
  height: auto;
  z-index: -999;
  border-radius: 0.3rem;
}

.categories .catContainer .catBoxes .catBox .catBoxContent {
  position: relative;
  margin: -3.5rem 0 0.5rem 1rem;
  color: #fff;
}

.topRR {
  padding: 5rem 0;
  justify-content: center;
  background-color: #f9fafc;
}

.topRR .topRRContainer {
  width: var(--myWidth);
}

.topRR .topRRContainer h2 {
  font-size: var(--fontSizeH2);
  font-weight: 500;
  transition: 0.3s;
}

.topRR .topRRContainer .topRRDesc {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

.topRR .topRRContainer .topRRBoxes {
  gap: 2rem;
}

.topRR .topRRContainer .topRRBoxes .topRRBoxesLeft {
  width: 50%;
  flex-direction: column;
  gap: 2rem;
}

.topRR .topRRContainer .topRRBoxes .topRRBoxesRight {
  width: 50%;
  flex-direction: column;
  gap: 2rem;
}

.topRRBox {
  gap: 2rem;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.topRRBox .topRRBoxLeft {
  width: 30%;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.3rem;
}

.topRRBox .topRRBoxLeft img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}

.topRRBox .topRRBoxLeft img:hover {
  transform: scale(1);
}

.topRRBox .topRRBoxRight {
  width: 70%;
  flex-direction: column;
  justify-content: center;
}

.topRRBox .topRRBoxRight span {
  font-style: italic;
  color: #000;
}

.topRRBox .topRRBoxRight h3 {
  color: #000;
  margin: 0.5rem 0 0.5rem 0;
}

.topRRBox .topRRBoxRight p {
  color: grey;
  margin: 0 0 0.5rem 0;
}

.topRRBox .topRRBoxRight small {
  color: black;
}

.startNow {
  justify-content: center;
  background-color: #f9fafc;
  padding: 0 0 5rem 0;
}

.startNow .snContainer {
  width: var(--myWidth);
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)),
    url(./assets/restaurants/startNow.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  color: #fff;
}

.startNow .snContainer h4 {
  margin: 0 0 1rem 0;
}

.startNow .snContainer h2 {
  font-size: var(--fontSizeH2);
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.startNow .snContainer p {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.startNow .snContainer a button {
  display: inline;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: var(--myBtnColor);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0.3rem;
}

.cta {
  justify-content: center;
  padding: 5rem 0;
}

.cta .ctaContainer {
  width: var(--myWidth);
  gap: 8rem;
}

.cta .ctaContainer .ctaLeft {
  width: 50%;
  justify-content: center;
  gap: 2rem;
}

.ctaBox {
  flex-direction: column;
  gap: 2rem;
}

.ctaBox .ctaBoxChild {
  text-align: center;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ctaBox .ctaBoxChild h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}

.ctaBox .ctaBoxChild p {
  font-weight: 300;
}

.cta .ctaContainer .ctaRight {
  width: 35%;
}

.cta .ctaContainer .ctaRight h2 {
  font-size: var(--fontSizeH2);
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.cta .ctaContainer .ctaRight p {
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  font-weight: 300;
  text-align: justify;
}

.cta .ctaContainer .ctaRight small {
  font-size: 1.1rem;
  font-weight: 300;
}

.cta .ctaContainer .ctaRight a {
  display: inline-block;
  margin: 1.5rem 0 0 0;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: var(--myBtnColor);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0.3rem;
}

footer {
  background-color: #f6f1d3;
  justify-content: center;
  padding: 5rem 0;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer ul li a {
  color: #000;
}

footer .fContainer {
  width: var(--myWidth);
  justify-content: space-between;
}

footer .fContainer .fTab h3 {
  margin: 0 0 1rem 0;
}

footer .fContainer .fTab input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}