footer {
    background-color: #f6f1d3;
    justify-content: center;
    padding: 5rem 0;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  footer ul li a {
    color: #000;
  }
  
  footer .fContainer {
    width: var(--myWidth);
    justify-content: space-between;
  }
  
  footer .fContainer .fTab h3 {
    margin: 0 0 1rem 0;
  }
  
  footer .fContainer .fTab input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
  }
  
  @media (max-width: 400px) {
    footer .fContainer {
      flex-direction: column;
      gap: 2rem;
    }
  }