.startNow {
    justify-content: center;
    background-color: #f9fafc;
    padding: 0 0 5rem 0;
    
  }
  
  .startNow .snContainer {
    width: var(--myWidth);
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)),
      url(../../../../assets/restaurants/startNow.jpg);
    background-position: center;
    background-size: cover;
    height: 25rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    color: #fff;
  
  }
  
  .startNow .snContainer h4 {
    margin: 0 0 1rem 0;
  }
  
  .startNow .snContainer h2 {
    font-size: var(--fontSizeH2);
    font-weight: 500;
    margin: 0 0 0.5rem 0;
  }
  
  .startNow .snContainer p {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  
  .startNow .snContainer a button {
    display: inline;
    font-size: 1rem;
    padding: 1rem 2rem;
    background: var(--myBtnColor);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.3rem;
  }
  @media (max-width: 400px) {
    .startNow .snContainer {
      height: auto;
      padding: 1rem;
    }
    .startNow .snContainer h2 {
      font-size: 1rem;
    }
    .startNow .snContainer p {
      font-size: 1rem;
    }
  }