.topRR {
    padding: 5rem 0;
    justify-content: center;
    background-color: #f9fafc;
  }
  
  .topRR .topRRContainer {
    width: var(--myWidth);
  }
  
  .topRR .topRRContainer h2 {
    font-size: var(--fontSizeH2);
    font-weight: 500;
    transition: 0.3s;
  }
  
  .topRR .topRRContainer .topRRDesc {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 2rem 0;
  }
  
  .topRR .topRRContainer .topRRBoxes {
    gap: 2rem;
  }
  
  .topRR .topRRContainer .topRRBoxes .topRRBoxesLeft {
    width: 50%;
    flex-direction: column;
    gap: 2rem;
  }
  
  .topRR .topRRContainer .topRRBoxes .topRRBoxesRight {
    width: 50%;
    flex-direction: column;
    gap: 2rem;
  }
  
  .topRRBox {
    gap: 2rem;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .topRRBox .topRRBoxLeft {
    width: 30%;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.3rem;
  }
  
  .topRRBox .topRRBoxLeft img {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
  }
  
  .topRRBox .topRRBoxLeft img:hover {
    transform: scale(1);
  }
  
  .topRRBox .topRRBoxRight {
    width: 70%;
    flex-direction: column;
    justify-content: center;
  }
  
  .topRRBox .topRRBoxRight span {
    font-style: italic;
    color: #000;
  }
  
  .topRRBox .topRRBoxRight h3 {
    color: #000;
    margin: 0.5rem 0 0.5rem 0;
  }
  
  .topRRBox .topRRBoxRight p {
    color: grey;
    margin: 0 0 0.5rem 0;
  }
  
  .topRRBox .topRRBoxRight small {
    color: black;
  }
  @media (max-width: 400px) {
    .topRR .topRRContainer .topRRBoxes {
      flex-direction: column;
    }
    .topRR .topRRContainer .topRRBoxes .topRRBoxesLeft {
      width: 100%;
    }
    .topRR .topRRContainer .topRRBoxes .topRRBoxesRight {
      width: 100%;
    }
    .topRRBox {
      width: 100%;
      flex-direction: column;
      gap: 0;
    }
    .topRRBox .topRRBoxLeft {
      width: 100%;
    }
    .topRRBox .topRRBoxRight {
      width: 100%;
      padding: 1rem;
    }
  }