@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --myWidth: 80%;
  --myBtnColor: green;
  --fontSizeH2: 2rem;
}

/* global classes */
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}